/* Existing styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    padding: 50px 130px;
    /* margin-bottom: 50px; */
}

.logo {
    width: 60px;
    cursor: pointer;
}

.headerLinks {
    display: flex;
}

.headerLinks > li {
    cursor: pointer;
}

.headerLinks > li > a {
    margin: 0 20px;
    color: rgba(255, 255, 255, .4);
    text-decoration: none;
    transition: 0.2s ease all;
}

.headerLinks > li.active > a {
    color: #fff;
}

.headerLinks > li > a:hover {
    color: #fff;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        /* padding: 0 20px; */
    }

    .logo {
        width: 35px;
        margin-bottom: 20px;
    }

    .headerLinks {
        /* flex-direction: column; */
        margin-top: 10px;
    }

    .headerLinks > li {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 470px) {
    .header {
        padding: 30px 10px;
    }

    .headerLinks > li > a {
        margin: 0 10px;
        font-size: 14px;
    }
}

@media (max-height: 640px) {
    .header {
        padding: 30px 130px;
    }

    .logo {
        width: 40px;
    }
}